.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid red;
}
.work {
  width: 350px;
  height: 200px;
  background-color: var(--green);
}
.technologies {
  width: 350px;
  height: 200px;
  background-color: var(--lightblue);
}
.contact {
  width: 350px;
  height: 200px;
  background-color: var(--darkblue);
}
