.container {
  width: 100%;
  height: 100vh;
  //border: 1px solid red;
  position: relative;
}
.ball {
  width: 60px;
  height: 60px;
  background-color: var(--red);
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.hoop {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--yellow);
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 1;
}
