@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main {
  background-color: var(--darkblue);
  background-color: #fafafa;
  /* min-height: 100vh; */
  position: relative;
  height: 100%;
  padding-bottom: 1rem;
}
.heroContainer {
  height: 100vh;
  position: relative;
}
.buttonReal {
  background-color: white;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.videoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  width: 800px;
  height: 200px;
}
.title {
  width: 800px;
  height: 200px;
}
@media (max-width: 900px) {
  .videoContainer {
    width: 600px;
    height: 150px;
  }
  .title {
    width: 600px;
    height: 150px;
  }
  .textContainer {
    width: 600px;
  }
  .text {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .videoContainer {
    width: 450px;
    height: 112px;
  }
  .title {
    width: 450px;
    height: 112px;
  }
  .textContainer {
    width: 450px;
  }
  .text {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .videoContainer {
    width: 360px;
    height: 90px;
  }
  .title {
    width: 360px;
    height: 90px;
  }
  .textContainer {
    width: 360px;
  }
  .text {
    width: 360px;
  }
}
.textContainer {
  position: absolute;
  width: 800px;
  height: 200px;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
}
.text {
  /* background-color: #235c5b; */
  font-family: "Roboto";
  position: absolute;
  font-size: 23px;
  width: 800px;
  height: 150px;
  display: flex;
  align-items: center;
  color: #235c5b;
  padding: 5px 7px;
  border-radius: 16px;
  text-align: center;
}
@media (max-width: 900px) {
  .textContainer {
    width: 600px;
  }
  .text {
    width: 600px;
  }
}
@media (max-width: 650px) {
  .textContainer {
    width: 450px;
  }
  .text {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .textContainer {
    width: 360px;
  }
  .text {
    width: 360px;
  }
}
.arrow {
  position: absolute;
  top: 90%;
  left: 50%;

  transform: translate(-50%, -50%);
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes arrow {
  0% {
    width: 70px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 70px;
  }
}
@media (max-width: 500px) {
  .arrow {
    top: 85%;
  }
}
/* .videoContainer {
  position: relative;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 800px;
  height: 200px;
} */
/* .title {
  grid-row: 1/-1;
  grid-column: 1/-1;
  transition: transform 200ms ease-in-out;
}
.videoContainer > div {
  z-index: 10;
  position: absolute;
  /* outline: 5px solid lime; 
}
/* .videoContainer > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  inset: 0;
}
.videoContainer > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  inset: 0;
}
.videoContainer > div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
  inset: 0;
}
.videoContainer > div:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2/3;
  inset: 0;
}
.videoContainer > div:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/3;
  inset: 0;
}
.videoContainer > div:nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/3;
  inset: 0;
}
.videoContainer > div:nth-child(7) {
  grid-column: 1/2;
  grid-row: 3/4;
  inset: 0;
}
.videoContainer > div:nth-child(8) {
  grid-column: 2/3;
  grid-row: 3/4;
  inset: 0;
}
.videoContainer > div:nth-child(9) {
  grid-column: 3/4;
  grid-row: 3/4;
  inset: 0;
}
.videoContainer > div:nth-child(1):hover ~ .title {
  transform: rotateX(25deg);
  transform: rotateY(-25deg);
}
.videoContainer > div:nth-child(2):hover ~ .title {
  transform: rotateX(0deg);
  transform: rotateY(25deg);
}

.videoContainer > div:nth-child(3):hover ~ .title {
  transform: rotateX(25deg);
  transform: rotateY(25deg);
}

.videoContainer > div:nth-child(4):hover ~ .title {
  transform: rotateX(-25deg);
  transform: rotateY(0deg);
}

.videoContainer > div:nth-child(5):hover ~ .title {
  transform: rotateX(0deg);
  transform: rotateY(0deg);
}

.videoContainer > div:nth-child(6):hover ~ .title {
  transform: rotateX(25deg);
  transform: rotateY(0deg);
}

.videoContainer > div:nth-child(7):hover ~ .title {
  transform: rotateX(-25deg);
  transform: rotateY(-25deg);
}

.videoContainer > div:nth-child(8):hover ~ .title {
  transform: rotateX(0deg);
  transform: rotateY(-25deg);
}

.videoContainer > div:nth-child(9):hover ~ .title {
  transform: rotateX(25deg);
  transform: rotateY(-25deg);
} */
