.main {
  background-color: var(--darkblue);
  background-color: #fafafa;
  /* min-height: 100vh; */
  position: relative;
  height: 100%;
  padding-bottom: 1rem;
}
.heroContainer {
  height: 100vh;
  position: relative;
}
.buttonReal {
  background-color: white;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
}
