.container {
  background-color: #fafafa;
  min-height: 100vh;
}

.title {
  font-size: 90px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.filterContainer {
  display: flex;
  justify-content: center;
  @media (max-width: 500px) {
    flex-wrap: wrap;
    padding: 0 10px;
  }
}
.filter {
  border: 1px solid #eaeaea;
  border-radius: 1px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #fff;
  @media (max-width: 630px) {
    padding: 10px 8px;
  }
  @media (max-width: 450px) {
    font-size: 15px;
  }
}
.filterList {
  border: 1px solid #eaeaea;
  background: #fff;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  padding: 0 5px;
  @media (max-width: 520px) {
    margin-left: 1rem;
  }
  @media (max-width: 485px) {
    margin-top: 1rem;
    height: 40px;
  }
}
.iconContainer {
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &True {
    background-color: #eaeaea;
    border-radius: 3px;
  }
}
.icon {
  width: 16px;
  height: 16px;
}
.filter a {
  position: relative;
  transition: all 0.35s ease-Out;
}

.filterInner {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #e8c547;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}
.filterInner2 {
  width: 100%;
  height: 100%;
  bottom: -100px;
  left: 0px;
  background: #e8c547;
  position: absolute;
  transition: all 0.35s ease-Out;
}
.filterInner3 {
  width: 100%;
  height: 100%;
  left: 0px;
  top: -100px;
  background: #e8c547;
  position: absolute;
  transition: all 0.35s ease-Out;
}

.filterInner4 {
  width: 100%;
  height: 100%;
  right: -200px;
  background: #e8c547;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

.filter:hover .filterInner {
  left: 0;
}
.filter:hover .filterInner2 {
  bottom: 0;
}
.filter:hover .filterInner3 {
  top: 0;
}
.filter:hover .filterInner4 {
  right: 0;
}

.filter:hover a {
  color: #2d3142;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 3rem;
  padding: 0 1.5rem 3rem;
  gap: 1rem;
}
.cardContainerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 0 1.5rem 3rem;
  gap: 1rem;
  @media (max-width: 800px) {
    padding: 0 1rem 3rem;
  }
}
