.container {
  position: relative;
  height: 380vh;
  width: 100%;
  //border: 1px solid red;
}
.title {
  font-size: 90px;
  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
  //   margin-left: 3rem;
  //   display: flex;
  //   justify-content: center;
}
.projectContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 15rem;
}
.projectInfo {
  display: flex;
  flex-direction: column;
}
.number {
  font-size: 20px;
  margin-bottom: 6rem;
  margin-left: 1rem;
}
.projectTitle {
  font-size: 50px;
  margin-bottom: 2rem;
  margin-left: 3rem;
}
.projectPosition {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-left: 3rem;
}
.projectDescription {
  font-size: 20px;
  margin-bottom: 2rem;
  margin-left: 3rem;
  max-width: 500px;
}
.projectImages {
  position: relative;
  //border: 1px solid yellow;
  width: 500px;
  height: 700px;
}
.mockup {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
.mockup2 {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.seeAll {
  background: none;
  color: inherit;
  //border: 1px solid black;
  padding: 10px 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 180px;
  margin: 10rem auto 0;
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  box-shadow: none;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.seeAll span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgb(164, 164, 164) 0%,
    rgb(133, 133, 134) 100%
  );
  display: block;
  position: absolute;
  width: 180px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.seeAll span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.seeAll span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.seeAll:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.seeAll:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
