.container {
  width: 350px;
  height: 300px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 4%);
  transition: all 0.5s;
}
.containerList {
  width: 850px;
  height: 72px;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 4%);
  transition: all 0.5s;
  display: flex;
  @media (max-width: 850px) {
    width: 100%;
  }
}
.container:hover {
  transform: translateY(-10px);
  .title {
    &Freelance {
      color: rgb(251, 211, 124);
    }
    &Side {
      color: rgb(158, 219, 158);
    }
    &LLF {
      color: rgb(252, 164, 149);
    }
  }
}
.containerList:hover {
  transform: translateY(-6px);
  .titleList {
    &Freelance {
      color: rgb(251, 211, 124);
    }
    &Side {
      color: rgb(158, 219, 158);
    }
    &LLF {
      color: rgb(252, 164, 149);
    }
  }
}
.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-bottom: 2px;
  justify-content: flex-end;
}
.iconContainerList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-bottom: 2px;
  justify-content: flex-end;
  order: 4;
}
.icon2 {
  width: 30px;
  height: 30px;
}
.icon2:hover {
  filter: invert(82%) sepia(95%) saturate(3520%) hue-rotate(320deg)
    brightness(96%) contrast(91%);
  width: 31px;
  height: 31px;
}
.icon {
  background-image: url("/github-svgrepo-com.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  position: relative;
}
.icon:hover {
  background-image: url("/github-color-svgrepo-com.svg");
}
.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 16px;
  cursor: pointer;
}
.titleList {
  font-size: 23px;
  font-weight: 700;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 250px;
  align-items: center;
}
.text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.textList {
  display: none;
}
.stackContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(39, 112, 175);
  margin-bottom: 10px;
}
.stackContainerList {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(39, 112, 175);
  order: 3;
  margin-left: 14px;
}
.tag {
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 500;
  &Freelance {
    background: rgb(253, 236, 200);
  }
  &Side {
    background-color: rgb(219, 237, 219);
  }
  &LLF {
    background: rgb(255, 226, 221);
  }
}
.tagList {
  padding: 3px 6px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 132px;
  align-items: center;
  font-weight: 500;
  &Freelance {
    background: rgb(253, 236, 200);
  }
  &Side {
    background-color: rgb(219, 237, 219);
  }
  &LLF {
    background: rgb(255, 226, 221);
  }
}
