@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  @media (max-width: 900px) {
    display: none;
  }
}
.title {
  font-size: 150px;
  font-family: "Montserrat";
  position: relative;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  color: rgb(218 218 218);
  font-weight: 600;
  transition: all 0.3s ease-out;
  @media (max-width: 900px) {
    font-size: 100px;
  }
  @media (max-width: 650px) {
    font-size: 80px;
  }
  @media (max-width: 470px) {
    font-size: 60px;
  }
}
.projectContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 15rem;
  @media (max-width: 1200px) {
    margin-top: 10rem;
    align-items: center;
  }
}
.projectInfo {
  display: flex;
  flex-direction: column;
}
.number {
  font-size: 20px;
  margin-bottom: 6rem;
  margin-left: 1rem;
}
.projectTitle {
  font-family: "Roboto";
  font-size: 60px;
  margin-bottom: 2rem;
  margin-left: 3rem;
  color: black;
}
.projectPosition {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-left: 3rem;
  color: black;
}
.projectDescription {
  font-family: "Roboto";
  font-size: 20px;
  margin-bottom: 2rem;
  margin-left: 3rem;
  max-width: 500px;
  color: black;
}
.projectImages {
  position: relative;
  //border: 1px solid yellow;
  width: 500px;
  height: 500px;
  @media (max-width: 1200px) {
    height: 400px;
  }
}
.mockup {
  width: 350px;
  position: absolute;
  top: 0;
  left: 20%;
  transition: all 0.3s ease-out;
  @media (max-width: 1200px) {
    width: 250px;
  }
}
.mockup2 {
  width: 530px;
  position: absolute;
  bottom: -10%;
  left: 0%;
  transition: all 0.3s ease-out;
  @media (max-width: 1200px) {
    width: 400px;
  }
}
.mockup22 {
  width: 250px;
  position: absolute;
  left: 25%;
  top: 60%;
  transition: all 0.3s ease-out;
  @media (max-width: 1200px) {
    width: 250px;
  }
}
.seeAll {
  background: none;
  color: black;
  //border: 1px solid black;
  padding: 10px 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 180px;
  margin: 10rem auto 0;
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  box-shadow: none;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.seeAll span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgb(215, 214, 214) 0%,
    rgb(216, 216, 216) 100%
  );
  display: block;
  position: absolute;
  width: 240px;
  height: 60px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.seeAll span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.seeAll span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -30px;
}
.seeAll:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.seeAll:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.space {
  height: 1rem;
}
