.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  max-width: 600px;
}
.work {
  width: 350px;
  height: 200px;
  background-color: var(--green);
}
.technologies {
  width: 350px;
  height: 200px;
  background-color: var(--lightblue);
}
.contact {
  width: 350px;
  height: 200px;
  background-color: var(--yellow);
}
