.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  animation-name: snake;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes snake {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
.work {
  width: 200px;
  height: 200px;
  background-color: var(--green);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.work2 {
  width: 200px;
  height: 200px;
  background-color: var(--green);
}
.technologies {
  width: 200px;
  height: 200px;
  background-color: var(--lightblue);
}
.technologies2 {
  width: 200px;
  height: 200px;
  background-color: var(--lightblue);
  position: relative;
  .eye {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 5%;
    right: 5%;
  }
  .mouth {
    background-color: var(--red);
    position: absolute;
    right: 0;
    top: 40%;
    height: 50px;
    width: 50px;
    border-top-left-radius: 25%;

    .tongue {
      background-color: black;
      position: absolute;
      right: -30%;
      top: 40%;
      height: 5px;
      width: 30px;
    }
  }
  .thougth {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 200px;
    font-size: 3.5rem;
    top: -100%;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 99%;
  }
}
.contact {
  width: 200px;
  height: 200px;
  background-color: var(--yellow);
}
